/* .app{
  margin: 50px;
} */
input{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search{
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  
}

.list{
padding: 0;
list-style: none;
text-align: center;
}

.listItem{
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}
table{
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
  font-size:2rem;
  margin: 0 auto;
  margin-top: 1rem;
  
}

  td{
  text-align: center;
  font-size: 1.5rem !important;
  font-weight:lighter !important;
  
}